<div class="black-layer hide-on-small-and-down" style=""  data-isenable="true"> 
</div>
<div class="slider home-banner">
  <ul class="slides">
    <li>
      <img src="https://d36g7qg6pk2cm7.cloudfront.net/assets/slider_1-d611140e8e058e59a7f09ff27ad8af62590a073d14f9dc0ac897e44d11fc2942.png" alt="select" width="1920" height="1080">
      <div class="caption center-align">
        <img src="https://d36g7qg6pk2cm7.cloudfront.net/assets/Himalayan-home-933d4538cc9b0b00179257514bb0893f63d4cbeec1b6f3add358615d050262c9.png" alt="Himalayan-home" class="valign slider-bike-image responsive-img" width="" height="1080"/>
      </div>
    </li>
    <li>
      <img src="https://d36g7qg6pk2cm7.cloudfront.net/assets/slider_2-96777fac30950c470086ea4637fd579d6be19d5a8f2599500c6dcfd77fdfdd49.jpg" alt="select" alt="select" width="1920" height="1080">
      <div class="caption center-align">
        <img src="https://d36g7qg6pk2cm7.cloudfront.net/assets/Activa-home-34d07e6e572c491ce22ab18161e1a665318ee297e871a0f7f9b554fc4806a0b7.png" alt="Activa-home" id="logo_img" class="valign slider-bike-image responsive-img"  width="1920" height="1080"/>
      </div>
    </li>
  </ul>
</div>
</div>
<div class="row describe">
    <div class="col s12 m12 l10 offset-l1"> 
      <div class="col m3 s6 l3">
          <div class="desc_top card z-depth-1" style="background-image: url('https://d36g7qg6pk2cm7.cloudfront.net/assets/home_desc_1-14a4834dcaa8cff4cacfbe7aac25a94eac66cafa506d2fdcb0499bbf5e663d84.png');">
            40 +<br><span>CITIES</span>
          </div>
      </div>
      <div class="col m3 s6 l3">
          <div class="desc_top card z-depth-1" style="background-image: url('https://d36g7qg6pk2cm7.cloudfront.net/assets/home_desc_2-60a579aab75a55af2924e02f0f2f0577e6e851f7ee655b3ac96be3a3e1f36bec.png');">
            5 M<br><span>KILOMETERS</span>
          </div>
      </div>
      <div class="col m3 s6 l3 ">
        <a href="https://www.facebook.com/pg/royalbrothersindia/reviews/?ref=page_internal" target="_blank">
          <div class="desc_top card z-depth-1" style="background-image: url('https://d36g7qg6pk2cm7.cloudfront.net/assets/home_desc_3-4d0024eab4d573abbbe5bb9b64aa9987352f52efea7543f494fb03e3e026310a.png');">
            4.6 <i class="material-icons prefix star_icon">star</i><br><span>ON FACEBOOK</span>
          </div>
        </a>
      </div>
      <div class="col m3 s6 l3">
        <a href="https://www.google.co.in/search?q=royal%20brothers%20indiranagar&oq=Royalbrothers+indira&aqs=chrome.1.69i57j0.9907j0j9&sourceid=chrome&ie=UTF-8&npsic=0&rflfq=1&rlha=0&rllag=12979915,77640459,289&tbm=lcl&rldimm=16745437318909184398&ved=0ahUKEwiN-Z7wtazXAhXEOI8KHWsmDvUQvS4IRTAA&rldoc=1&tbs=lrf:!2m1!1e2!2m1!1e3!3sIAE,lf:1,lf_ui:1#rlfi=hd:;si:16745437318909184398;mv:!1m3!1d26407.511114077675!2d77.66492724999999!3d12.9576025!2m3!1f0!2f0!3f0!3m2!1i702!2i326!4f13.1" target="_blank">
          <div class="desc_top card z-depth-1" style="background-image: url('https://d36g7qg6pk2cm7.cloudfront.net/assets/home_desc_4-6f4593cd9de99bb941855f0e05163242898ad1f8b7debfa818c74942fed32926.png');">
            4.5 <i class="material-icons prefix star_icon">star</i><br><span>ON GOOGLE</span>
          </div>
        </a>
      </div>
  </div>
</div>
  <div class="row our_speciality">
    <div class="col l10 m12 s12 offset-l1 block">
      <div class="col l12 m12 s12 center">
        <h5 class="title">OUR SPECIALITY</h5>
      </div>
      <div class="col l12 m12 s12 our_speciality_outer_div">
          <div class="col l3 m4 s6 each_speciality">
            <div class="each_speciality_title_box">
              <div class="title_num">
                <h4 class="speciality_no">1</h4>
              </div>
              <div class="speciality_title_box padleft5">
                <span class="speciality_title">First RTO Authorized bike rental</span>
              </div>
            </div>
            <div class="speciality_content_box">
                <p class="speciality_content">Pioneers in renting out bikes legally in Karnataka.</p>
            </div>  
          </div>
          <div class="col l3 m4 s6 each_speciality">
            <div class="each_speciality_title_box">
              <div class="title_num">
                <h4 class="speciality_no">2</h4>
              </div>
              <div class="speciality_title_box padleft5">
                <span class="speciality_title">Bikes in top notch conditions</span>
              </div>
            </div>
            <div class="speciality_content_box">
                <p class="speciality_content">Each bike is cleaned and serviced weekly and also once before renting out.</p>
            </div>  
          </div>
          <div class="col l3 m4 s6 each_speciality">
            <div class="each_speciality_title_box">
              <div class="title_num">
                <h4 class="speciality_no">3</h4>
              </div>
              <div class="speciality_title_box padleft5">
                <span class="speciality_title">Timely pick up and drop off</span>
              </div>
            </div>
            <div class="speciality_content_box">
                <p class="speciality_content">If we delay even by 15 mins, ₹ 25 on scooter</p>
            </div>  
          </div>
          <div class="col l3 m4 s6 each_speciality">
            <div class="each_speciality_title_box">
              <div class="title_num">
                <h4 class="speciality_no">4</h4>
              </div>
              <div class="speciality_title_box padleft5">
                <span class="speciality_title">Home delivery on weekdays*</span>
              </div>
            </div>
            <div class="speciality_content_box">
                <p class="speciality_content">Now avail our service and get the key to happiness at your doorstep.</p>
            </div>  
          </div>
          <div class="col l3 m4 s6 each_speciality">
            <div class="each_speciality_title_box">
              <div class="title_num">
                <h4 class="speciality_no">5</h4>
              </div>
              <div class="speciality_title_box padleft5">
                <span class="speciality_title">Commercial Insurance is covered</span>
              </div>
            </div>
            <div class="speciality_content_box">
                <p class="speciality_content">We have a valid commercial insurance for the rider, pillion and third party</p>
            </div>  
          </div>
          <div class="col l3 m4 s6 each_speciality">
            <div class="each_speciality_title_box">
              <div class="title_num">
                <h4 class="speciality_no">6</h4>
              </div>
              <div class="speciality_title_box padleft5">
                <span class="speciality_title">Most trusted &amp; transparent process</span>
              </div>
            </div>
            <div class="speciality_content_box">
                <p class="speciality_content">We are upfront about the entire process of renting a bike from us</p>
            </div>  
          </div>
          <div class="col l3 m4 s6 each_speciality">
            <div class="each_speciality_title_box">
              <div class="title_num">
                <h4 class="speciality_no">7</h4>
              </div>
              <div class="speciality_title_box padleft5">
                <span class="speciality_title">19 pickup locations in Bangalore</span>
              </div>
            </div>
            <div class="speciality_content_box">
                <p class="speciality_content">There are good chances you will find us in 3 km radius from your location</p>
            </div>  
          </div>
          <div class="col l3 m4 s6 each_speciality">
            <div class="each_speciality_title_box">
              <div class="title_num">
                <h4 class="speciality_no">8</h4>
              </div>
              <div class="speciality_title_box padleft5">
                <span class="speciality_title">Choose from a wide variety of bikes</span>
              </div>
            </div>
            <div class="speciality_content_box">
                <p class="speciality_content">Pick a bike that suits your need from scooters to superbikes.</p>
            </div>  
          </div>
      </div>
    </div>
  </div>
<div class="row grey lighten-3 fleet_screen">
  <h5 class="col s12 l12 m12 center-align">OUR FLEET</h5>
  <div class="col l10 m12 s10 offset-s1 offset-l1 white fleet_row z-depth-2">
    <div class="col l3 m3 s12 feet_img_div center-align" id="feetimg1">
      <div class="our_fleet_label">
        Triumph Street Twin
      </div>
      <a href="https://www.royalbrothers.com/bangalore/bike-rentals/tariff">
        <img src="https://d36g7qg6pk2cm7.cloudfront.net/assets/triumph-street-twin-f05daa2c1afe29ce56c0743e633125b9640ed8d3c8ac0a6a2f4ffd32ca83a687.png" alt="rent a triumph street twin" class="responsive-img" width="100%" height="100%">
      </a>    
    </div> 
    <div class="col l3 m3 s12 feet_img_div center-align" id="feetimg2">
      <div class="our_fleet_label">
        Benelli TNT 600 i
      </div>
      <a href="https://www.royalbrothers.com/bangalore/bike-rentals/tariff">
        <img src="https://d36g7qg6pk2cm7.cloudfront.net/assets/benelli-tnt-600-i-f49456eb5ce9ff63187a12f5ad9865227c03cde5d62c013001d8f8e80f0f1954.png" alt="rent a benelli" class="responsive-img" width="100%" height="100%">
</a>    </div>
    <div class="col l3 m3 s12 feet_img_div center-align" id="feetimg3">
      <div class="our_fleet_label">
        Harley Davidson Iron 883
      </div>
      <a href="https://www.royalbrothers.com/bangalore/bike-rentals/tariff">
        <img src="https://d36g7qg6pk2cm7.cloudfront.net/assets/iron_883_home-b7393555ce9e97a3c101da50cc2566afc697111f06506bed3a67ecb13d09cfcb.png" alt="rent a harley davidson" class="responsive-img" width="100%" height="100%">
</a>    </div>
    <div class="col l3 m3 s12 feet_img_div center-align" id="feetimg4">
      <div class="our_fleet_label">
        Classic 350
      </div>
      <a href="https://www.royalbrothers.com/bangalore/bike-rentals/tariff">
        <img src="https://d36g7qg6pk2cm7.cloudfront.net/assets/royal-enfield-redditch-497f032b3b14e89f634fbffe4f6d31252855978c3803dc3845c43d43530dd271.png" alt="enfield redditch 350 on rent" class="responsive-img" width="100%" height="100%">
</a>    </div>
    <div class="col l3 m3 s12 feet_img_div center-align">
      <div class="our_fleet_label">
        Himalayan
      </div>
      <a href="https://www.royalbrothers.com/bangalore/bike-rentals/tariff">
        <img src="https://d36g7qg6pk2cm7.cloudfront.net/assets/royal-enfield-himalayan-225e1dacb0c5d0da6c0bed476e983251db3bfc67f628149dc059ae3e64a5f706.png" alt="himalayan bike on rent" class="responsive-img" width="100%" height="100%">
</a>    </div>
    <div class="col l3 m3 s12 feet_img_div center-align" id="feetimg5">
      <div class="our_fleet_label">
        Dominar 400
      </div>
      <a href="https://www.royalbrothers.com/bangalore/bike-rentals/tariff">
        <img src="https://d36g7qg6pk2cm7.cloudfront.net/assets/dominar-5b4884025aaeb9d1c49ca8019a044ba450657c19e8927f965a9760fdd4b19c8a.png" alt="rent a dominor 400" class="responsive-img" width="100%" height="100%">
</a>    </div>
    <div class="col l3 m3 s12 feet_img_div center-align" id="feetimg6">
      <div class="our_fleet_label">
        Avenger Cruise 220
      </div>
      <a href="https://www.royalbrothers.com/bangalore/bike-rentals/tariff">
        <img src="https://d36g7qg6pk2cm7.cloudfront.net/assets/Avenger-Cruise-220-96cd3c442654042662cb0a8585618233bf4079922e695f0a7dd4743267ea49a7.png" alt="hire an avenger" class="responsive-img" width="100%" height="100%">
</a>    </div>
    <div class="col l3 m3 s12 feet_img_div center-align" id="feetimg7">
      <div class="our_fleet_label">
        Activa
      </div>
      <a href="https://www.royalbrothers.com/bangalore/bike-rentals/tariff">
        <img src="https://d36g7qg6pk2cm7.cloudfront.net/assets/Activa-16bad1615bbca0c134c84cb097a04a1f7529dd86221d0e790436badfa4a9b1d3.png" alt="rent a honda activa" class="responsive-img" width="100%" height="100%">
</a>    </div>
    <div class="col l3 m3 s12 feet_img_div center-align" id="feetimg8">
      <div class="our_fleet_label">
        Classic 350
      </div>
      <a href="https://www.royalbrothers.com/bangalore/bike-rentals/tariff">
        <img src="https://d36g7qg6pk2cm7.cloudfront.net/assets/Classic-350-half-a131eb91839202506710537dd8b42c6dbff144feeceb2bf3f9dc483c510799c9.png" alt="rent a maruthi suzuki swift" class="responsive-img" width="100%" height="100%">
</a>    </div>
    <div class="col l3 m3 s12 feet_img_div center-align" id="feetimg9">
      <div class="our_fleet_label">
        Yamaha FZ
      </div>
      <a href="https://www.royalbrothers.com/bangalore/bike-rentals/tariff">
        <img src="https://d36g7qg6pk2cm7.cloudfront.net/assets/home_page_fleet_12-59767d4474366d965e5840c12c827e529e56e202d32f2868023f0c2e90c54715.png" alt="rent a volvo s60" class="responsive-img" width="100%" height="100%">
</a>    </div>
    <div class="col l3 m3 s12 feet_img_div center-align" id="feetimg10">
      <div class="our_fleet_label">
        Duke 200
      </div>
      <a href="https://www.royalbrothers.com/bangalore/bike-rentals/tariff">
        <img src="https://d36g7qg6pk2cm7.cloudfront.net/assets/Duke-200-5fac9e110fe1a1f4c2601a36d7bec3d023d8b9e9b85d286993e6c27f5e373f9e.png" alt="rent a toyoto innova" class="responsive-img" width="100%" height="100%">
</a>    </div>
    <div class="col l3 m3 s12 feet_img_div more_fleet flex-justify-center valign-wrapper">
      <a href="https://www.royalbrothers.com/bangalore/bike-rentals/tariff" class="valign relativepos grey-text" >
        <h6 class="display-inline-block">See more</h6><span class="absolute display-inline-block top3px material-icons" >keyboard_arrow_down</span>
      </a>
    </div>
  </div>
</div>
<div class="row news_article_homepage grey lighten-3">
  <div class="col l10 m12  offset-l1 center-align">
    <div class="col l3 m3 s6 center-align">
      <a href="https://yourstory.com/2016/08/royal-brothers/" rel="nofollow" target="_blank">
        <img src="https://d36g7qg6pk2cm7.cloudfront.net/assets/Your-story-3751fb49a532f673343d9a51147e2b653d62c5c831aa4a42b27edc2a70e525f9.png" alt="your-story" class="col l10 m10 offset-m1 offset-l1 responsive-img" width="250" height="250">
      </a>
    </div>
    <div class="col l3 m3 s6 center-align">
      <a href="http://timesofindia.indiatimes.com/business/india-business/Bike-rental-startups-fuel-a-new-passion/articleshow/49613993.cms" target="_blank" rel="nofollow">
        <img src="https://d36g7qg6pk2cm7.cloudfront.net/assets/TOI-96a53315c749d787970af9e5dac79da1b0108e5320a64a534f031de0f102d669.png" width="250" height="250" alt="times-of-india-post" class="col l10 m10 offset-m1 offset-l1 responsive-img">
      </a>
    </div>
    <div class="col l3 m3 s6 center-align">
      <a href="http://epaperbeta.timesofindia.com/Article.aspx?eid=31815&articlexml=Hitchhike-is-Passé-Hire-a-Bike-Instead-02072015002036" target="_blank" rel="nofollow">
        <img src="https://d36g7qg6pk2cm7.cloudfront.net/assets/TET-c84fc1f66378d2cc124b8828e21a04a0d2603827a6695c3508139f1c9f9c3845.png" width="250" height="250"  alt="times-of-india-post-2"  class="col l10 m10 offset-m1 offset-l1 responsive-img">
      </a>
    </div>
    <div class="col l3 m3 s6 center-align">
      <a href="http://www.thehindu.com/news/national/karnataka/rent-a-bike-savour-the-city/article7903765.ece" rel="nofollow" target="_blank">
        <img src="https://d36g7qg6pk2cm7.cloudfront.net/assets/TH-b2ba67c0a3a6a89365d295825d12d25cf4720d0c6d651b8506774916ba7d3c2e.png" width="250" height="250"   alt="the-hindu-post" class="col l10 m10 offset-m1 offset-l1 responsive-img">
      </a>
    </div>
  </div>
</div>

